/node_modules
/public/hot
/public/storage
/public/images/tmp/**/*.jpg
/storage/*.key
/vendor
/.idea
/.vagrant
**/*.DS_Store
**/*.orig
Homestead.json
Homestead.yaml
npm-debug.log
auth.json
.env
*.cache
*.crt
