name: run-tests

on:
  push:
    branches:
      - master
      - v2

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        php: [7.4, 7.3]
        dependency-version: [prefer-stable]
        os: [ubuntu-latest]
        include:
          - php: 7.4
            phpunit: 9.*
          - php: 7.3
            phpunit: 9.*

    name: P${{ matrix.php }} - PU${{ matrix.phpunit }} - ${{ matrix.dependency-version }} - ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Cache dependencies
        uses: actions/cache@v1
        with:
          path: ~/.composer/cache/files
          key: dependencies-php-${{ matrix.php }}-composer-${{ hashFiles('composer.json') }}

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}

      - name: Install dependencies
        run: |
          composer require "phpunit/phpunit:${{ matrix.phpunit }}" --no-interaction --no-update
          composer update --${{ matrix.dependency-version }} --prefer-dist --no-interaction --no-suggest

      - name: Execute tests
        run: vendor/bin/phpunit
